In [17]:
#задача 1
a = ()
b = ()
sps = []
sum = 0

while True:
    a = input()
    if a != 'done':
        b = float(a)
        sps.append(b)
    else:
        break

for i in sps:
    sum = sum + i

    
armean = sum/len(sps)

print (armean)

23.4
23
56.56
done
34.32

In [18]:
#задача 2
a = ()
b = ()
sps = []


while True:
    a = input()
    if a != 'done':
        b = float(a)
        sps.append(b)
    else:
        break

        
min = sps[0]
max = sps[0]
for i in sps:
    if i < min:
        min = i
    elif i > max:
        max = i


print (min, max)

2.5
2.9
0.0000000001
done
1e-10 2.9

In [38]:
#задача 3

d1 = {'Item1': {'Name': 'Cake', 'Price': 20},
 'Item2': {'Name': 'Pie', 'Price': 10},
 'Item3': {'Name': 'Chocobar', 'Price': 5}}
d2 = {'Item4': {'Name': 'Brownie', 'Price': 15},
 'Item5': {'Name': 'Cake', 'Price': 20}}

#объединяем
d3={}
d3.update(d1)
d3.update(d2)

#убираем лишнее
d4={}
for key,value in d3.items():
    if key not in d4.keys() and value not in d4.values():
        d4[key]=value

In [47]:
#задача 4
sum=0
d4
for value in d4.values():
    sum=sum+value['Price']
sum

50

In [51]:
#задача 5
d1={'Item1': 120, 'Item2': 100, 'Item3': 500}
d2={'Item1': 5, 'Item2': 12, 'Item3': 7}
d3={}

for k1 in d1.keys():
    for k2 in d2.keys():
        if k1==k2:
          d3[k1]=d1[k1]*d2[k2]

In [1]:
0.

0.0