In [1]:
import numpy as np
import pandas as pd
import random
import math
import sklearn.datasets as ds
import matplotlib.pyplot as plt
%matplotlib inline

In [50]:
df1 = pd.read_csv('articles1.csv')
df2 = pd.read_csv('articles2.csv')
df3 = pd.read_csv('articles3.csv')

In [55]:
df = df1.append(df2)
df = df.append(df3)

In [58]:
df.head()

,title,publication,author,date,year,month,content
0,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,WASHINGTON — Congressional Republicans have...
1,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,"After the bullet shells get counted, the blood..."
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,"Death may be the great equalizer, but it isn’t..."
4,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,"SEOUL, South Korea — North Korea’s leader, ..."

In [24]:
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.decomposition import TruncatedSVD
from sklearn.cluster import AgglomerativeClustering

In [59]:
df.isna().sum()/df.shape[0]

title          0.000014
publication    0.000000
author         0.111356
date           0.018524
year           0.018524
month          0.018524
content        0.000000
dtype: float64

In [57]:
df.drop(df.columns[[0,1,8]], axis = 1, inplace=True)

In [68]:
corpus = df['content']
vectorizer = TfidfVectorizer()

In [69]:
tfidf = vectorizer.fit_transform(corpus)

In [73]:
tfidf

<142570x311885 sparse matrix of type '<class 'numpy.float64'>'
	with 46761688 stored elements in Compressed Sparse Row format>

In [ ]:
model = Pipeline([('preprocessing', TfidfVectorizer()),
                  ('pca', TruncatedSVD(n_components=100)),
                  ('model', KMeans(n_clusters=10))
                  #('model', AgglomerativeClustering())
               ])